* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
}


.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.logo {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}

.hero-section h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}

.description {
    max-width: 720px;
    font-size: 20px;
    line-height: 1.5;
    color: #6b7280;
}

.form {
    width: 550px;
    margin-top: 65px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.03),
        0 8px 12px rgba(0, 0, 0, 0.08);
}



.form input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #374151;
    text-align: center;
    outline: none;
}

.form input:focus {
    border-color: #3154d4;
}


.btn {
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 10px;
    background-color: #3154d4;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: #2646bd;
}


.privacy {
    font-size: 14px;
    line-height: 1.4;
    color: #374151;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.author-info {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #374151;
}

.author-info a {
    color: #374151;
    text-decoration: none;
}


@media (max-width: 1024px) {
    .container {
        padding: 40px 30px;
    }

    .logo {
        margin-bottom: 28px;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .description {
        max-width: 700px;
        font-size: 19px;
    }

    .form {
        width: 550px;
        margin-top: 60px;
    }
}

@media (max-width: 600px) {

    .container {
        min-height: 100vh;

        padding: 40px 24px;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-bottom: 28px;
    }

    .hero-section h1 {
        font-size: 32px;
        line-height: 1.2;

        margin-bottom: 24px;
    }


    .description {
        width: 100%;

        font-size: 18px;
        line-height: 1.35;
    }

    .form {
        width: 100%;
        margin-top: 60px;
        padding: 24px;
        gap: 24px;
        border-radius: 12px;
    }

    .form input {
        height: 60px;
        font-size: 16px;
    }


    .btn {
        height: 58px;
        font-size: 16px;
    }


    .privacy {
        text-align: left;
        font-size: 14px;
    }

    .author-info {
        position: static;
        padding: 15px 20px;
        font-size: 12px;
    }
}